h3{
  margin-top: 5%;
  margin-bottom: 5%;
}
.card-body{
  padding: 0 auto;
  width: auto;
}
.card{
  margin-bottom: 3%;
  padding: 0;
}
.card:hover{
  background-color: #007bff;
}

.card:hover a{
  color: white;
}

.card a:hover {
  color: white;
  text-decoration: none;
}